* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: Hansom FY,Helvetica,Arial,sans-serif;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: unset;
}
